<!DOCTYPE html>
<html lang="es-mx">
<head>
     {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="{% static 'base/css/general.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'base/css/menu.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'base/css/footer.css' %}" rel="stylesheet" type="text/css">
    <!-- Css de user-->
    <link href="{% static 'user/css/style_user.css' %}" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario de registro</title>
</head>
<body>
    <div class="content">
        <!-- Incluir el menu -->
        {% include 'base/menu.html' %}
        <section class="section">
            <hr>
            <div class="form-content">
                <form method="POST" class="form-general">
                    <h2>Crear Cuenta</h2>
                    <!-- Agregar token -->
                    {% csrf_token %}
                    <table>
                    <!-- Obtener Formulario -->
                        {{ form.as_table}}
                    </table>
                    <!-- Asignar valor al input -->
                    <input type="submit" value="Registrarse" class="btn-submit">
                </form>
            </div>
        </section>
    </div>
    <!-- Incluir footer -->
    {% include 'base/footer.html' %}
</body>
</html>